<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.mahidol.rama.emam">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <!--<intent-filter>-->
                 <!--<action android:name="android.nfc.action.TAG_DISCOVERED" />-->
                 <!--<category android:name="android.intent.category.DEFAULT" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SelectWardActivity" />
        <activity android:name=".activity.MainSelectMenuActivity" />
        <activity android:name=".activity.TimelineActivity" />
        <activity android:name=".activity.PreparationActivity" />
        <activity android:name=".activity.PreparationForPatientActivity" />
        <activity android:name=".activity.DoubleCheckActivity" />
        <activity android:name=".activity.DoubleCheckForPatientActivity" />
        <activity android:name=".activity.AdministrationActivity" />
        <activity android:name=".activity.AdministrationForPatientActivity" />
        <activity android:name=".activity.HistoryPrepareActivity"/>
        <activity android:name=".activity.AddPatientPRNActivity" />
    </application>

</manifest>