<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.mahidol.rama.emam">

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <!--<intent-filter>-->
                 <!--<action android:name="android.nfc.action.TAG_DISCOVERED" />-->
                 <!--<category android:name="android.intent.category.DEFAULT" />-->
             <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SelectWardActivity" />
        <activity android:name=".activity.MainSelectMenuActivity" />
        <activity android:name=".activity.TimelineActivity" />
        <activity android:name=".activity.PreparationActivity" />
        <activity android:name=".activity.PreparationForPatientActivity" />
        <activity android:name=".activity.DoubleCheckActivity" />
        <activity android:name=".activity.DoubleCheckForPatientActivity" />
        <activity android:name=".activity.AdministrationActivity" />
        <activity android:name=".activity.AdministrationForPatientActivity" />
        <activity android:name=".activity.HistoryPrepareActivity"/>
        <activity android:name=".activity.HistoryDoubleCheckActivity" />
        <activity android:name=".activity.HistoryAdministrationActivity" />
        <activity android:name=".activity.AddPatientPRNActivity" />
        <activity android:name=".activity.CameraScanActivity" />
        <activity android:name=".activity.AddDrugPatientPRNActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.LoginUserActivity" />
        <activity android:name=".activity.LoginUserCenterActivity" />
        <activity android:name=".activity.LoginCenterActivity" />
        <activity android:name=".activity.AddDrugNotPrepareActivity" />

        <!--History-->
        <activity android:name=".activity.history.PatientAllActivity" />
        <activity android:name=".activity.history.HistoryActivity" />
        <!--Add Medication-->
        <activity android:name=".activity.addmedication.AddMedicationPatientAllActivity" />
        <activity android:name=".activity.addmedication.AddMedicationForPatientActivity" />

        <!--Alarm-->
        <activity android:name=".activity.alarm.AlarmActivity" />
        <activity android:name=".activity.alarm.PatientOnTimeActivity" />
        <receiver android:name=".activity.alarm.AlarmBroadcastReceiver" />
        <activity android:name=".activity.alarm.PatientMedOnTimeActivity" />

        <!--Glide-->
        <meta-data android:name="th.ac.mahidol.rama.emam.configuration.GlideConfiguration"
            android:value="GlideModule"/>
    </application>

</manifest>